<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415306886882-7f68kc4tjjh0iegrc6ek6kfovcgvcurg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415306886882-7f68kc4tjjh0iegrc6ek6kfovcgvcurg</string>
	<key>API_KEY</key>
	<string>AIzaSyA7Gf-tNw026k37zZnXMkc-Hh-7GdYR93k</string>
	<key>GCM_SENDER_ID</key>
	<string>415306886882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterInfiniteList</string>
	<key>PROJECT_ID</key>
	<string>hoot-44046</string>
	<key>STORAGE_BUCKET</key>
	<string>hoot-44046.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415306886882:ios:1527421a162528e55db8bb</string>
</dict>
</plist>